*.py[cod]
.hgignore~
.gitignore~
.hg/
.hgtags
.tox/
.travis.yml~
/.idea/

MANIFEST.in~
tmp/
.zip
/release/
/deploy/
/examples/db/example.db
/examples/tmp/
/examples/logs/
/examples/media/cache/
/examples/static/
/builddocs/
/builddocs.zip
/build/
/dist/
/src/django_nonefield.egg-info
/examples/example/local_settings.py
/src/nonefield/tests/
